node_modules
.pnp
.pnp.js
coverage
.nyc_output
*.test.js
*.spec.js
jest.config.js
__tests__
.astro
dist-test
.cache
.DS_Store
*.pem
.vscode
.idea
.husky
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*.local
.env
.git
.gitignore
.gitattributes
.github
.gitlab-ci.yml
*.md
!README.md
LICENSE
CODE_OF_CONDUCT.md
PULL_REQUEST_TEMPLATE.md
.eslintrc
.eslintignore
.eslintcache
.prettierrc.js
.prettierignore
.stylelintrc.json
.stylelintcache
.editorconfig
.babelrc
yarn.lock
pnpm-lock.yaml
.yarn